@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;500;600;700&display=swap');


.main:not(.footer3){
    display: flex;
    flex-direction: row;
    background: #0f0f0f;
    padding: 120px 0;
    background-image: url('../public/messarrow.svg');
    background-repeat: no-repeat;
    background-position-x: 69em;
    background-position-y: 19em;
}

.footer1{
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(196, 196, 196);
    position: relative;
    background-image: url('../public/line.svg');
    background-repeat: no-repeat;
    background-position: left;
}


.wrapper1_footer1{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5em;
    width: 50%;
}

.intro_header{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #7a7a7a;
}

.introHeader_desc{
    font-family: 'Circular Spotify Text', sans-serif;
    margin-top: 1.8em;
    font-size: 18px;
    font-weight: 400;
    color: #7a7a7a;
    width: 50%;
    letter-spacing: 0.97px;
}

.form{
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    margin-left: -17em;
}


.name_form, .email_form{
    border: 3px solid #000;
    border-radius: 1px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
}

.name_form, .email_form :focus{
    border: 1px solid #ffffff;
    width: 21em;
    
}

.button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.button:hover{
    color: #000;
    background:  rgb(148, 146, 146);
}




.footer3{
    display: flex;
    flex-direction: row;
   gap: 8em;
   background-color: #fff;
   padding: 120px 0;
   background-image: url('../public/nnnoise.svg');
   
}

/* CTA  */

.header{
    font-size: 38px;
    padding: 0 0 0 5em;
}

.CTA_section{
    font-family: 'Circular Spotify Text', sans-serif;
}

.CTA_section > ul{
 list-style: none;
 text-align: justify;
 margin-left: -2.3em;
 font-weight: 100;
 letter-spacing: 0.9px;
}

.comingsoon{
    background-color: rgba(255, 0, 0, 0.295);
    color: rgba(255, 0, 0, 0.24);
    border-radius: 4px;
    margin: 0.23em;
}



@media screen and (min-width: 768px) {
    .main{
        width: 100%;
        background-image: none;
    }
}


/* all range mobiles  */
@media  screen and (max-width:600px) {

    .main, .form{
        display: flex;
        flex-direction: column;
    }

    .main{
        width: 500px;
        background-image: none;
    }
    .intro_header{
        font-size: 33px;
        width: 100%;
    }

    .introHeader_desc{
        width: 100%;
    }


    .wrapper1_footer1{
        width: 100%;
        margin-left: -1.4em;
    }
    .form{
        margin-top:17em;
        transform: translateX(-4.5em);
    }


    .footer3{
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     gap: 6em;
    }
.header{
     margin-left: -1.2em;
}
.CTA_section{
    text-align: center;
    margin: -3em;
    margin-left: 2em;
    
}
.CTA_section > ul{
    text-align: center;
    
}    

}


/* Tablets  */
