

.main{
    font-family: 'Circular Spotify Text', sans-serif !important;

}



.mainHeader{
    display: flex;
    justify-content: center;
    font-size: 84px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

/* blog post  */

.conatiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 66px;
    padding-bottom: 3em;
}

.circle, .star{
    position: absolute;
    
}

.conatiner div{
    margin: auto;
}

.b{
    color: hsl(105, 58%, 47%);
}



@media screen and (max-width: 900px) {
    .conatiner{
        grid-template-columns: repeat(1, 1fr);
    }
}