@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;600;700&display=swap');
@import url('//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  --primaryBackgroundColor: white;
  --primaryTextColor: black;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  background-image: url(../public/nnnoise.png);
}





@media (prefers-color-scheme: dark){

  *,html,body{
  color: rgb(158, 158, 158) !important;
  background-image: url(../public/nnnoiseDark.png);

  }
}  
