
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;600;700&display=swap');

.conatiner{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.background{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}









/* NAVBAR  */

.header{
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  letter-spacing: -1.9px;
  font-size: 27px;
}
.logo{
  position: absolute;
  top: -0.4em;
  left: 4.2em;
  background-color: transparent;
}

.logoline{
  position: absolute;
  top: 1.4em;
  left: 0.5em;
}
.navbar{
  font-family: 'Circular Spotify Text', sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin-top: 2rem;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  gap:clamp(3rem, 2em, 40px);
  list-style: none;
}

.link{
  text-decoration: none;
  color: black;
}


.navbar_compo{
  background-image:
  linear-gradient(
    transparent 0%,
    transparent 90%,
    green 90%,
    green 100%
  );

  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position-x: right;


  transition: background-size 300ms;
}
.navbar_compo:hover{
background-size: 100% 100%;
background-position-x: left;
}




/* section 1 */


.intro_section{
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 0 0 0 5em;
}
.h1_sec1{
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.2em;
  letter-spacing: -2px;
  font-size: 48px;
  font-weight: 600;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.span_sec1{
  font-family: 'Circular Spotify Text', sans-serif;
  font-size: 23px;
  letter-spacing: -1.5px;
  color: rgb(78, 78, 78);
  position: absolute;
  margin-top: -1.0em;
}

.small_sec1{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 100;
  color: rgb(78, 78, 78);
  font-size: 11px;
}

.btn_sec1{
  outline: 0;
  width: 200px;
  margin-top: 21px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 2px;
  color: #fff;
  background: #000;
  font-size: 18px;
  letter-spacing: 0.8px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  line-height: 28px;
  padding: 14px 33px 12px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  zoom: 0.8;
}

.btn_sec1:hover{
  color: #000;
  font-weight: 600;
  background: rgb(255, 255, 255);
}


.btnSideText_sec1{
  position: relative;
  font-size: 12px;
  font-weight: 100;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 14em;
  margin-top: -2.3em;
  color: rgb(78, 78, 78);
}

.svgarrow{
  position: absolute;
  top: -32px;
  left: 16em;
  transform: rotate(45deg);
}

.img1_sec1{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -17em;
  margin-left: 38em;
}
.star{
position: absolute;
right: 8em;
top: -3.4em;
}



/* section 2 */
.three_columns_sec2{
 display: flex;
 margin-top: 7em;
 background-image: url('../public/sveyyline.svg');
 font-family: 'Circular Spotify Text', sans-serif;
}

.col1_sec2, .col2_sec2, .col3_sec2{
  position: relative;
width: 33.3%;
height: 30em;
}

.desc{
  position: absolute;
  font-size: 40px;
  width: 50%;
  margin-left: 3em;
  top: 3em;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: 600;
  
}
.col1_sec2{
  background-color: hsl(105, 58%, 47%);
  background-image: url('../public/sveyyline.svg');
  background-repeat: no-repeat;
  
}

.col2_sec2{
  background-color: #fff;
  background-image: url('../public/sveyyline.svg');
  background-blend-mode: exclusion;
  background-repeat: no-repeat;
  
  width: 33.3%;
}
.columns_svgarrow{
  margin-top:13em;
  margin-left: 19em;
  transform: rotate(79deg);
}

.col3_sec2{
  background-color: #000;
  color: rgb(121, 121, 121);
  width: 33.3%;
  background-image: url('../public/line.svg');
  background-repeat: no-repeat;
}

.verifiedBage{
  margin-left: auto;
}


@media screen and (max-width: 900px) {
  .navbar{
    font-size: 15px;
    font-weight: 400;
    gap: 1em;
  }


  .intro_section{
    width: 100%;
    flex-direction: column;
  }
  
  .span_sec1{
    font-size: 20px;
    width: 90%;
    margin-top: -2em;
  }

  .svgarrow{
    left: 14em;
  }

  .star{
    position: absolute;
    right: -4em;
    top: -3.4em;
    }

    .logoline{
      position: absolute;
      zoom: 0.7;
      top: 1.6em;
      left: 0.5em;
    }
  .img1_sec1{
 zoom: 0.8;
   top: 23em;
  justify-content: flex-end;
  right: 3em;
  }


  .three_columns_sec2{
    margin-top: 24em;
    width: 500px;
  }

  .col1_sec2, .col2_sec2, .col3_sec2{
    position: relative;
  width: 100%;
  height: 18em;
  }
  
  .desc{
  font-size: 23px;
  margin: 0 auto;
  margin-left: 1em;
  line-height: 24px;
  width: 50%;
    
  }



}


  /* Tablets  */

  @media screen and (min-height: 1024px) {
    .three_columns_sec2{
        width: 100%;
    }
}