.h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 1.4em;
}

.h2{
    font-size: 38px;
    margin-top:1.3em ;
}
.h2,
.h3 {
    display: flex;
    justify-content: center;
   
    font-family: 'Circular Spotify Text', sans-serif;
}

.h3{
    font-size: 26px;
    text-decoration: underline;
    margin: 1em;
}

.p{
    margin: auto;
    font-weight: 300;
    margin-bottom: 3em;
    width: 50%;
    font-family: 'Circular Spotify Text', sans-serif;
}

.ul{
    display: flex;
}

.li{
    width: 80%;
    margin-bottom: -4em;
}

.li :is(.p){
font-weight: 300;
}

.imgBlog {
    box-sizing: border-box;
    margin-left: 30%;
}


@media screen and (max-width: 900px) {

        .h1,
        .h2,
        .h3 {
            margin-left: 10%;
            text-align: center;
            width: 100%;
        }

        .p {
            margin-left: 16%;
            width: 90%;
            text-align: center;
        }
        
        .ul{
            flex-direction: column;
            gap: 3em;
            width: 100%;
            margin-left:3.5em;
        }
        .imgBlog {
            width: 200;
           
            margin-left: 10%;
        }
}