


/* main  */

.talkcontainer{
    display: flex;
    flex-direction: column;
    font-family: 'Circular Spotify Text', sans-serif !important;
}


.intro_h1, .intro_h2, .contactUs{
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    
}

.intro_h1{
    margin-top: 3em;
    font-size: 68px;
    letter-spacing: -3px;
    font-weight: 700;
    
}

.intro_h2{
    margin-top: 1.8em;
    font-size: 38px;
    letter-spacing: -2px;
}

.contactUs{
    font-size: 28px;
    letter-spacing: -2px;
    text-decoration: underline;
    
}

.formGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;
    gap: 2em;
    width: 50%;
    margin: auto;
    margin-top: 6em;
    background-image: url('../public/apie.svg');
}

.formGrid > input{
    
    width: 100%;
    min-height: 48px;
    margin-bottom: 54px;
    border-style: none;
    border-width: 1px;
    border-color: #f1e8df;
    border-radius: 4px;
    background-color: #f1e8df;
    color: #1d1d1d;
    font-size: 14px;
    line-height: 34px;
    font-weight: 300;
}


.formGrid >  input::placeholder{
    text-align: center;
    font-size: 9px;
}

.input5{
  height: 200px;
  overflow: scroll;

}

.buttonSend{
    margin-top: 3.6em;
    grid-column: 2;
    width: 100%;
    height: 60px;
    outline: 0;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
    background: #000;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 500;
    line-height: 28px;
    padding: 14px 33px 12px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}


.buttonSend:hover{
    color: #000;
    font-weight: 600;
    background: rgb(255, 255, 255);
}




@media screen and (max-width: 900px) {


    .intro_h1, .intro_h2, .contactUs{
     display: flex;
     justify-content: center;
     margin-left: 2em;
     width: 100%;
    }

    .intro_h1{
        margin-top: 1em;
        margin-left: 0.8em;
        text-align: center;
    }

    .formGrid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        width: 100%;
        margin-left: 4em;
    }

    .formGrid >  input::placeholder{
         font-size: 12px;
    }
    
}


@media (prefers-color-scheme: dark){
    .formGrid > input{
        background-image: none !important;
        background-color: #8d8680 !important;
      
    }
    
    .formGrid > input::placeholder{
        color: #e9e9e9;
    }
  }